@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

*{
    font-family: Roboto;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    display:flex;
    flex-direction: column;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    display:flex;
    align-items: center;
    font-weight: 900;
    font-style: italic;
    font-size: 32px;
    margin-left: 20px;
}

.logo a {
    color: #D6000D;
    font-size: 52px;
    weight: 700;
}

.menu-header {
    gap: 30px;
    align-items: center;
    margin-right: 60px;
}

.menu-header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 45px;
    align-items: center;
}

.menu-header-list li {
    list-style-type: none;
    font-size: 24px;
}

.login-button {
    background-color: #D6000D;
    width: 160px;
    height: 48px;
    border-radius: 12px;
    border: 0;
    border: none;
    color: white;
    font-size: 22px;
}

.section-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    align-items: center;
    height: 686px;
    margin: 0px 20px;
}

.video-call {
    max-width: 400px;
}

.intro-content {
    display: flex;
    flex-direction: column;
}

.intro-content h1 {
    color: #D6000D;
    font-size: 64px;
}

.intro-content p {
    font-size: 26px;
    font-weight: 900;
}

.intro-content button {
    background-color: #D6000D;
    margin: 0;
    border-radius: 12px;
    color: white;
    border: 0;
    height: 48px;
    width: 335px;
    margin-top: 25px;
    font-size: 22px;
}

.section-page {
    justify-content: center;
    height: 788px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin: 0px 20px;
}

.coding {
    max-width: 400px;
    margin: auto;
}

.section-container {

}

.list-works {
    v
}

.list-works li{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.list-works li img {
    margin-right: 15px;
    width: 34px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.form-contact p {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.form-contact-button {
    background-color: #D6000D;
    margin: 0;
    border-radius: 8px;
    color: white;
    border: 0;
    height: 50px;
    width: 220px;
    font-size: 18px;
    font-weight: 400;
}

.form-contact-placeholder {
    background-color: #DCDCDC;
    border: 0;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    font-size: 18px;
}

.menu-header {
    display: flex;
    flex-direction: row;

}

.menu-header-list {
    display: flex;
    flex-direction: row;
}

.section-experience {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 60px;
}

.circle-solid {
    filter: invert(14%) sepia(86%) saturate(5405%) hue-rotate(350deg) brightness(80%) contrast(114%);
    width: 75px;
}

.section-experience-first {
    background-color: #DCDCDC;
    border-radius: 8px;
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    
}

.section-experience-second {
    background-color: #DCDCDC;
    border-radius: 8px;
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.section-experience-info {
    font-size: 10px;
    font-weight: 700; 
}

.section-experience-info h3 {
    font-size: 24px;
}

.section-experience-info h4 {
    font-size: 16px;
    font-weight: 500;
}

.section-experience-info p {
    font-size: 16px;
    font-weight: 400;
}

footer {
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
} 

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: baseline;
    justify-content: space-evenly;
    paddind: 20px;
    height: 180px;
    margin-top: 60px;
}

.footer-container h1 {
    font-size: 52px;
    font-style: italic;
}

.footer-container p {
    font-weight: 300;
}

.subtitle-footer-logo {
    margin-top: 14px;
}

.subtitle-footer-about {
    margin-top: 14px;
}

.subtitle-footer-address {
    margin-top: 14px;
}

.subtitle-footer-phone {
    margin-top: 14px;
}

.subtitle-footer-email {
    margin-top: 14px;
}

.subtitle-footer-contact {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subtitle-footer-contact img {
    filter: invert(14%) sepia(86%) saturate(5405%) hue-rotate(350deg) brightness(80%) contrast(114%);
    width:25px;
}


@media only screen and (max-width: 835px) {
    .section-intro {
        flex-direction: column;
    }

    .section-page {
        flex-direction: column-reverse;
        height: 788px;
        margin-top: 0px;
    }

    .list-works {
        margin-top: 10px;
    }

    .section-experience {
        flex-direction: column;
        margin-top: 180px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-header {
        margin: 0px 50px 0px 50px;
    }
}

@media only screen and (max-width: 540px) {
    .footer-container {
        flex-direction: column;
        gap: 50px;
        margin: 220px auto 0px auto;
    }
    footer {
        height: 680px;
    }

    .menu-header{
        flex-direction: column;
    }

    .intro-content h1 {
        font-size: 36px;
        text-align: center;
    }

    .intro-content p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 5px;
    }

    .intro-content button {
        width: 250px;
    }

    .video-call {
        max-width: 300px;
    }

    .section-page {
        gap: 30px;
    }

    .coding {
        max-width: 250px;
    }

    .list-works {
        margin-top: 0px;
    }

    .list-works li img {
        width: 20px;
    }

    .form-contact {
        margin-top: 30px;
        align-items: center;
    }

    .form-contact p {
        font-size: 18px;
    }

    .list-works li {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .section-experience {
        width: 250px;
    }
}